  body {
            margin: 0;
            padding: 0;
            font-family: Arial, sans-serif;
        }

        header, nav, footer {
           width: 70%;
            height: 50px;
            background-color: #ccc;
        }

        div {
            width: 70%;
            height: 350px;
             margin-top: 20px;
             flex-direction: row;
             display: flex;
             justify-content: space-between;
                          
        }

        section {
            width: 65%;
            height: 350px;
            background-color: #e0e0e0;
        }

        aside {
            width: 30%;
            height: 350px;
            background-color: gray;
            margin-left: 50%;
        }

        nav{
            margin-top: 20px;
        }
        footer{
            margin-top: 20px;
        }
        article{
             flex-direction: row;
             display: flex;
             justify-content: space-between;
             width: 90%;
            height: 30%;
            margin-top: 3px;
            background-color: red;
            margin-left: 7px;
        }
        body{
            margin-left: 25px;
        }
        .articleAside{
            margin-top: 45px;
        }

        .articleSection,aside,div,nav,footer,header,section{
            border-radius: 1rem;
        }